@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA>
    @{

        ViewBag.Title = "Asignaturas";
        WebGrid grid = new WebGrid(Model);
    }
    <div>
        <h2>Asignaturas</h2>
        
        @using (Html.BeginForm())
        {
            <p>
                Palabra busqueda : @Html.TextBox("palabraBusqueda")
                <input type="submit" value="Buscar" />

            </p>
        }
        
        @grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {
            
            grid.Column("IDASIGNATURA",header:"Codigo"),
            grid.Column("NOMADIGNATURA",header:"Nombre"),
            grid.Column("NombrePlaneEstudio",header:"Plan Estudio"),
            grid.Column("CORREQUISITOSASIGNATURA",header:"Prerequisitos"),
            grid.Column("PREREQUISITOSASIGNATURA",header:"Correquisitos"),
            grid.Column("",header:"Opciones",
                format: @<text>
                        @Html.ActionLink("Editar", "ModificarAsignatura", new { idAsignatura = item.IDASIGNATURA }) |
                        @Html.ActionLink("Visualizar", "VisualizarAsignatura", new { idAsignatura = item.IDASIGNATURA }) |
                        @Html.ActionLink("Eliminar", "EliminarAsignatura", new { idAsignatura = item.IDASIGNATURA })
                         </text>
            )
        })
        <p> 
            @Html.ActionLink("Agregar", "RegistrarAsignatura")
            @Html.ActionLink("Cargar desde Archivo", "CargarArchivo")
            @Html.Encode(ViewData["UpSession"])
        </p>
    </div>
