@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA>
    @{

        ViewBag.Title = "Asignaturas";
    }
    <div>
        <h2>Asignaturas</h2>
        <p>
            @ViewBag.Mensaje
        </p>
        @using (Html.BeginForm())
        {
            <p>
                Palabra busqueda : @Html.TextBox("palabraBusqueda")
                <input type ="submit" value="Buscar"/>
                
            </p>
        }
       
        <table class="table">
            <tr>
                <th>
                    Codigo
                </th>

                <th>
                    Plan de Estudio
                </th>
                <th>
                    Nombre

                </th>
                <th>
                    Correquisitos

                </th>
                <th>
                    Prerequisitos

                </th>
                <th>
                    Semestre

                </th>

            </tr>
            @if (Model != null) { 
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDASIGNATURA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombrePlaneEstudio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMADIGNATURA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CORREQUISITOSASIGNATURA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PREREQUISITOSASIGNATURA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SEMESTREASIGNATURA)
                    </td>
                    

                    <td>
                        @Html.ActionLink("Editar", "ModificarAsignatura", new { idAsignatura = item.IDASIGNATURA }) |
                        @Html.ActionLink("Visualizar", "VisualizarAsignatura", new { idAsignatura = item.IDASIGNATURA }) |
                        @Html.ActionLink("Eliminar", "EliminarAsignatura", new { idAsignatura = item.IDASIGNATURA })
                    </td>
                </tr>
            }
            }


        </table>

        <p>
            @Html.ActionLink("Agregar", "RegistrarAsignatura")
        </p>
    </div>
