@model SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA

@{
    ViewBag.Title = "Eliminar Asignatura";
}

<h2>Eliminar Asignatura</h2>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl>
        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDASIGNATURA)
        </dd>

        <dt>
            Plan de Estudio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPLANESTUDIOS)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMADIGNATURA)
        </dd>

        <dt>
            Corequisitos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREQUISITOSASIGNATURA)
        </dd>
        <dt>
            Prerequisitos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREREQUISITOSASIGNATURA)
        </dd>

        <dt>
            Semestre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTREASIGNATURA)
        </dd>
        <dt>
            Intensidad Horaria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTENSIDADHORARIA)
        </dd>

        <dt>
            Modalidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODALIDAD)
        </dd>
        <dt>
            Clasificacion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CLASIFICACION)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ESTADOASIGNATURA)
        </dd>


    </dl>
    @using (Html.BeginForm("EliminarAsignatura", "Asignatura"))
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "ConsultarAsignaturas")
        </div>
    }
</div>

