@model SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA

@{
    ViewBag.Title = "Editar Asignatura";
}




<div>

    @using (Html.BeginForm("ModificarAsignatura", "Asignatura"))
    {
        @Html.AntiForgeryToken()



        <fieldset>
            <legend>Editar Asignatura</legend>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.IDASIGNATURA)
            @Html.HiddenFor(model => model.EdicionOmodificacion, new { @Value = "modificacion" }) 

            <div>
                Codigo:
                <div>
                  @Html.DisplayFor(model => model.IDASIGNATURA)
                   
                </div>
            </div>

            <div>
                Plan de Estudios:
                <div>
                    @Html.DropDownListFor(model => model.IDPLANESTUDIOS, ViewBag.ListaPlanesEstudios as SelectList)
                    @Html.ValidationMessageFor(model => model.IDPLANESTUDIOS)
                </div>
            </div>
            <div>
                Nombre :
                <div>
                    @Html.EditorFor(model => model.NOMADIGNATURA)
                    @Html.ValidationMessageFor(model => model.NOMADIGNATURA)
                </div>
            </div>
            <div>
                Correquisitos :
                <div>
                    @Html.ListBoxFor(model => model.ListaCorrequisitos, ViewBag.ListaAsignaturas as MultiSelectList, new { multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.CORREQUISITOSASIGNATURA)

                </div>
            </div>
            <div>
                Prerequisitos :
                <div>
                    @Html.ListBoxFor(model => model.ListaPrerequisitos, ViewBag.ListaAsignaturas as MultiSelectList, new { multiple = "true" })
                    @Html.ValidationMessageFor(model => model.PREREQUISITOSASIGNATURA)
                </div>
            </div>
            <div>
                Semestre :
                <div>
                    @Html.DropDownListFor(model => model.SEMESTREASIGNATURA, new SelectList(new short[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }))
                    @Html.ValidationMessageFor(model => model.SEMESTREASIGNATURA)
                </div>
            </div>
            <div>
                Intensidad Horaria :
                <div>
                    @Html.DropDownListFor(model => model.INTENSIDADHORARIA, new SelectList(new short[] { 2, 4, 6 }))
                    @Html.ValidationMessageFor(model => model.INTENSIDADHORARIA)
                </div>
            </div>
            <div>
                Modalidad :
                <div>
                    @Html.DropDownListFor(model => model.MODALIDAD, new SelectList(new string[] { "Presencial", "Semi-presencial" }))
                    @Html.ValidationMessageFor(model => model.MODALIDAD)
                </div>
            </div>
            <div>
                Clasificacion :
                <div>
                    @Html.DropDownListFor(model => model.CLASIFICACION, new SelectList(new string[] { "1", "2", "3", "4", "6" }))
                    @Html.ValidationMessageFor(model => model.CLASIFICACION)
                </div>
            </div>
            <div>
                Estado :
                <div>
                    Activo @Html.RadioButtonFor(model => model.ESTADOASIGNATURA, "Activo")
                    Inactivo @Html.RadioButtonFor(model => model.ESTADOASIGNATURA, "Inactivo")
                    @Html.ValidationMessageFor(model => model.ESTADOASIGNATURA)
                </div>
            </div>


            <div>
                <div>
                    <input type="submit" value="Guardar" onclick="return confirmacionAgregarAsignatura();" />
                    <input type="submit" value="Cancelar" onclick="return confirmSalirAsignatura();" />
                </div>
            </div>
        </fieldset>

    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
