@model SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA

@{
    ViewBag.Title = "Detalles";
}

<h2>Visualizar</h2>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl>
        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDASIGNATURA)
        </dd>

        <dt>
            Plan de Estudio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPLANESTUDIOS)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMADIGNATURA)
        </dd>

        <dt>
            Corequisitos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREQUISITOSASIGNATURA)
        </dd>
        <dt>
            Prerequisitos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREREQUISITOSASIGNATURA)
        </dd>

        <dt>
            Semestre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTREASIGNATURA)
        </dd>
        <dt>
            Intensidad Horaria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTENSIDADHORARIA)
        </dd>

        <dt>
            Modalidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODALIDAD)
        </dd>
        <dt>
            Clasificacion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CLASIFICACION)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ESTADOASIGNATURA)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ModificarAsignatura", new { idAsignatura = Model.IDASIGNATURA }) |
    @Html.ActionLink("Volver a la Lista", "ConsultarAsignaturas")
</p>
