@model SIFIET.GestionUsuarios.Datos.Modelo.USUARIO

@{
    ViewBag.Title = "Nuevo Usuario";
}

@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div>

        @ViewBag.Mensaje
    </div>
}

<script>
    function confirmacion() {
        var nombresUsuario = document.getElementById("NOMBRESUSUARIO").value;
        var apellidosUsuario = document.getElementById("APELLIDOSUSUARIO").value; 
        var identificacionUsuario = document.getElementById("IDENTIFICACIONUSUARIO").value;
        var passwordUsuario = document.getElementById("PASSWORDUSUARIO").value; 
        var emailInstitucionalUsuario = document.getElementById("EMAILINSTITUCIONALUSUARIO").value;
        var roles = document.getElementsByName("roles").item(0).value;

        //var prueba = getSelectValues(roles); deberia funcionar

        if (nombresUsuario != "" && apellidosUsuario != "" && identificacionUsuario != "" && passwordUsuario != "" && emailInstitucionalUsuario != "" && roles != null) {
            return confirm("¿Desea registrar el usuario con la siguiente información? \n\n Nombres: " + nombresUsuario + "\n\n Apellidos: " + apellidosUsuario + "\n\n Identificación: " + identificacionUsuario + "\n\n Password: " + passwordUsuario + "\n\n Email: " + emailInstitucionalUsuario + "\n\n Roles: " + roles);
        }
        else{
            return false;
        }                   
    }

    //function getSelectValues(select) {
    //    var result = [];
    //    var options = select && select.options;
    //    var opt;

    //    for (var i = 0, iLen = options.length; i < iLen; i++) {
    //        opt = options[i];

    //        if (opt.selected) {
    //            result.push(opt.value || opt.text);
    //        }
    //    }
    //    return result;
    //}
</script>

<div>

    @using (Html.BeginForm("AgregarUsuario", "Usuario",  FormMethod.Post, new { onsubmit = "return confirmacion();" }))
    {
        @Html.AntiForgeryToken()



        <fieldset>
            <legend>Nuevo Usuario</legend>

            @Html.ValidationSummary(true)

            <div>
                Codigo:
                <div>
                    <input name="IDUSUARIO" readonly="true" type="text" value="@ViewBag.idUsuario" />

                </div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorCodigo))
                {
                    <div>

                        @ViewBag.ErrorCodigo
                    </div>
                }
            </div>

            <div>
                Nombres:
                <div>
                    @Html.EditorFor(model => model.NOMBRESUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorNombre))
                {
                    <div>

                        @ViewBag.ErrorNombre
                    </div>
                }
            </div>
            <div>
                Apellidos:
                <div>
                    @Html.EditorFor(model => model.APELLIDOSUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorApellido))
                {
                    <div>

                        @ViewBag.ErrorApellido
                    </div>
                }
            </div>

            <div>
                Rol:
                <div>
                    <select name="roles" multiple="true">
                        @foreach (var rol in ViewBag.roles)
                        {
                            <option value="@rol.IDROL">@rol.NOMROL</option>

                        }

                    </select>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorRol))
                {
                    <div>

                        @ViewBag.ErrorRol
                    </div>
                }
            </div>
            <div>
                Identificacion:
                <div>
                    @Html.EditorFor(model => model.IDENTIFICACIONUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorIdentificacion))
                {
                    <div>

                        @ViewBag.ErrorIdentificacion
                    </div>
                }
            </div>
            <div>
                Contraseña:
                <div>
                    @Html.PasswordFor(model => model.PASSWORDUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorPass))
                {
                    <div>

                        @ViewBag.ErrorPass
                    </div>
                }
            </div>
            <div>
                E-Mail:
                <div>
                    @Html.EditorFor(model => model.EMAILINSTITUCIONALUSUARIO)

                </div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorEmail))
                {
                    <div>

                        @ViewBag.ErrorEmail
                    </div>
                }
            </div>

            <div>
                <div>
                    <input type="submit" value="Guardar"/>
                </div>
                <div>
                    @Html.ActionLink("Volver a la lista", "Index")
                </div>
            </div>
        </fieldset>

    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
