@model SIFIET.GestionUsuarios.Datos.Modelo.USUARIO

@{
    ViewBag.Title = "Nuevo Usuario";
}




<div>

@using (Html.BeginForm("RegistrarUsuario","Usuario")) 
{
    @Html.AntiForgeryToken()
    
    
        
    <fieldset> <legend>Nuevo Usuario</legend>
            
        @Html.ValidationSummary(true)

        <div >
            Codigo:
            <div >
                @Html.EditorFor(model => model.IDUSUARIO)
                @Html.ValidationMessageFor(model => model.IDUSUARIO)
            </div>
        </div>

        <div >
            Nombres:
            <div >
                @Html.EditorFor(model => model.NOMBRESUSUARIO)
                @Html.ValidationMessageFor(model => model.NOMBRESUSUARIO)
            </div>
        </div>
        <div >
            Apellidos:
            <div >
                @Html.EditorFor(model => model.APELLIDOSUSUARIO)
                @Html.ValidationMessageFor(model => model.APELLIDOSUSUARIO)
            </div>
        </div>
       
        <div >
            Rol:
            <div >
                <select></select>
            </div>
        </div>
        <div >
            Identificacion:
            <div >
                @Html.EditorFor(model => model.IDENTIFICACIONUSUARIO)
                @Html.ValidationMessageFor(model => model.IDENTIFICACIONUSUARIO)
            </div>
        </div>
        <div >
            Contraseña:
            <div >
                @Html.PasswordFor(model => model.PASSWORDUSUARIO)
                @Html.ValidationMessageFor(model => model.PASSWORDUSUARIO)
            </div>
        </div>
        <div >
            E-Mail:
            <div >
                @Html.EditorFor(model => model.EMAILINSTITUCIONALUSUARIO) 
                @Html.ValidationMessageFor(model => model.EMAILINSTITUCIONALUSUARIO)
            </div>
        </div>

        <div >
            <div >
                <input type="submit" value="Guardar" />
            </div>
            <div>
                @Html.ActionLink("Cancelar", "Index")
            </div>
        </div>
    </fieldset>
   
}
     </div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
