@model IEnumerable<SIFIET.GestionUsuarios.Datos.Modelo.USUARIO>

@{
    
    ViewBag.Title = "Usuarios";
}
<div>
<h2>Usuarios</h2>
    @using (Html.BeginForm("Index", "Usuario"))
{
    <div>
        <label>Buscar Por:</label><select name="criterio">
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="identificacion">Identificacion</option>
        </select>
        <input name="valorbusqueda" type="text" value="" />
        <input type="submit" value="Buscar" />

    </div>
}

<table class="table">
    <tr>
        <th>
            Codigo
        </th>
       
        <th>
            Nombres
        </th>
        <th>
            Apellidos

        </th>
        <th>
            Identificacion

        </th>
        <th>
            Correo

        </th>
        <th>
            Opciones

        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDUSUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRESUSUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOSUSUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDENTIFICACIONUSUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAILINSTITUCIONALUSUARIO)
        </td>
        <td>
            @Html.ActionLink("Editar", "ModificarUsuario", new { idUsuario=item.IDUSUARIO }) |
            @Html.ActionLink("Detalles", "VisualizarUsuario", new { idUsuario=item.IDUSUARIO }) |
            @Html.ActionLink("Eliminar", "EliminarUsuario", new { idUsuario=item.IDUSUARIO})
        </td>
    </tr>
}


</table>

<p>
    @Html.ActionLink("Agregar", "AgregarUsuario")
</p>
</div>