@model IEnumerable<SIFIET.GestionUsuarios.Datos.Modelo.USUARIO>

@{
    
    ViewBag.Title = "Usuarios";
    WebGrid grid = new WebGrid(Model);
}
<div>
<h2>Usuarios</h2>
    @using (Html.BeginForm("Index", "Usuario"))
{
    <div>
        <label>Buscar Por:</label><select name="criterio">
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="identificacion">Identificacion</option>
        </select>
        <input name="valorbusqueda" type="text" value="" />
        <input type="submit" value="Buscar" />

    </div>
}
    
    @grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("IDUSUARIO",header:"Codigo"),
            grid.Column("NOMBRESUSUARIO",header:"Nombres"),
            grid.Column("APELLIDOSUSUARIO",header:"Apellidos"),
            grid.Column("IDENTIFICACIONUSUARIO",header:"Identificacion"),
            grid.Column("EMAILINSTITUCIONALUSUARIO",header:"Email"),
            grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "ModificarUsuario", new { idUsuario = item.IDUSUARIO }) |
                @Html.ActionLink("Detalles", "VisualizarUsuario", new { idUsuario = item.IDUSUARIO }) |
                @Html.ActionLink("Eliminar", "EliminarUsuario", new { idUsuario = item.IDUSUARIO })
                </text>
            )
        })
    



<p>
    @Html.ActionLink("Agregar", "AgregarUsuario")
</p>
</div>