@model SIFIET.GestionUsuarios.Datos.Modelo.USUARIO





@{
    ViewBag.Title = "Editar Usuario";
}
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div>

        @ViewBag.Mensaje
    </div>
}

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <fieldset>
            <legend>Editar Usuario</legend>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.IDUSUARIO)
            @Html.HiddenFor(model => model.ESTADOUSUARIO)

            <div>
                Nombres:
                <div>
                    @Html.EditorFor(model => model.NOMBRESUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorNombre))
                {
                    <div>

                        @ViewBag.ErrorNombre
                    </div>
                }
            </div>
            <div>
                Apellidos:
                <div>
                    @Html.EditorFor(model => model.APELLIDOSUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorApellido))
                {
                    <div>

                        @ViewBag.ErrorApellido
                    </div>
                }
            </div>

            <div>
                Rol:
                <div>
                    <select name="roles" multiple="true">
                        @foreach (var rol in ViewBag.roles)
                        {
                            <option value="@rol.IDROL">@rol.NOMROL</option>

                        }

                    </select>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorRol))
                {
                    <div>

                        @ViewBag.ErrorRol
                    </div>
                }
            </div>
            <div>
                Identificacion:
                <div>
                    @Html.EditorFor(model => model.IDENTIFICACIONUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorIdentificacion))
                {
                    <div>

                        @ViewBag.ErrorIdentificacion
                    </div>
                }
            </div>
            <div>
                Contraseña:
                <div>
                    @Html.PasswordFor(model => model.PASSWORDUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorPass))
                {
                    <div>

                        @ViewBag.ErrorPass
                    </div>
                }
            </div>
            <div>
                E-Mail:
                <div>
                    @Html.EditorFor(model => model.EMAILINSTITUCIONALUSUARIO)

                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorEmail))
                {
                    <div>

                        @ViewBag.ErrorEmail
                    </div>
                }
            </div>


            <div>
                <div>
                    <input type="submit" value="Editar" onclick="return confirmacionAgregarUsuario();"/>
                </div>
                <div>
                    @Html.ActionLink("Cancelar", "Index")
                </div>
            </div>
        </fieldset>

    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
