@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.PROGRAMA>

@{
    
    ViewBag.Title = "Programas";
}
<div>
<h2>Programas</h2>
    <p>
        @ViewBag.Mensaje
    </p>

    @using (Html.BeginForm())
    {
        
        
        <fieldset>
            <legend>Buscar Programa</legend>
            Campo a buscar:
            <select id="campoBuscar" name="campoBuscar">
                <option>Escoja un campo</option>
                <option>Nombre</option>
            </select>
            Ingrese el dato a buscar @Html.TextBox("busqueda")  
            <input type="submit" value="Buscar" />
        </fieldset>
    }
    <br />
<table>
    <tr>
        <th>Nombre</th><th>Duración</th><th>Facultad</th><th>Codigo SNIES</th><th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMPROGRAMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DURACIONPROGRAMA) Semestres
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDFACULTAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGOSNIES)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarPrograma", new { id=item.IDPROGRAMA }) |
            @Html.ActionLink("Detalles", "VisualizarPrograma", new { id=item.IDPROGRAMA }) |
            @Html.ActionLink("Eliminar", "EliminarPrograma", new { id=item.IDPROGRAMA})
        </td>
    </tr>
}


</table>

<p>
    @Html.ActionLink("Cargar desde Archivo", "CargarDatos")
    @Html.ActionLink("Agregar", "AgregarPrograma")

</p>
</div>