@using System.EnterpriseServices
@using System.Web.Mvc.Html
@model SIFIET.GestionUsuarios.Datos.Modelo.ROL
@{
    ViewBag.Title = "Nuevo Rol";
}
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div>
        @ViewBag.Mensaje
    </div>
}
<div>

    @using (Html.BeginForm("AgregarRol","Rol")) 
    {
        @Html.AntiForgeryToken()     
        <fieldset> <legend>Nuevo Rol</legend>
            @Html.ValidationSummary(true)
            <div >
                Nombre:
                <div >
                    @Html.EditorFor(model => model.NOMROL)
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorNombreRol))
                {
                    <div>
                        @ViewBag.ErrorNombreRol
                    </div>
                }
            </div>
            <div >
                Descripcion:
                <div >
                    @Html.TextAreaFor(model => model.DESCROL)
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorDescripcionRol))
                {
                    <div>
                        @ViewBag.ErrorDescripcionRol
                    </div>
                }

            </div>
            <div>
                <h3>Permisos</h3>
                <div>
                    <p>Plan de Estudios:</p>
                    <select name="Plan de Estudios" id="Plan de Estudios">
                        <option value="Visualizar">Visualizar</option>
                        <option value="Gestionar">Gestionar</option>
                    </select>
                    <p>Usuarios</p>
                    <select name="Usuarios" id="Usuarios">
                        <option value="Visualizar">Visualizar</option>
                        <option value="Gestionar">Gestionar</option>
                    </select>
                    <p>Programas</p>
                    <select name="Programas" id="Programas">
                        <option value="Visualizar">Visualizar</option>
                        <option value="Gestionar">Gestionar</option>
                    </select>
                    <p>Infraestructura</p>
                    <select name="Infraestructura" id="Infraestructura">
                        <option value="Visualizar">Visualizar</option>
                        <option value="Gestionar">Gestionar</option>
                    </select>
                    <p>Asignaturas</p>
                    <select name="Asignaturas" id="Asignaturas">
                        <option value="Visualizar">Visualizar</option>
                        <option value="Gestionar">Gestionar</option>
                    </select>
                    <p>Salones</p>
                    <select name="Salones" id="Salones">
                        <option value="Visualizar">Visualizar</option>
                        <option value="Gestionar">Gestionar</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div >
            <div >
               <input type="submit" value="Guardar" onclick="return comfirmarAgregarRol()"/>
            </div>
            <div>
                <input type="button" value="Cancelar" onclick="return confirmSalirRol()"/>
            </div>
        </div>
   
    }
</div>
<script src="/Scripts/funciones.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
