@model SIFIET.GestionUsuarios.Datos.Modelo.ROL

@{
    ViewBag.Title = "Nuevo Rol";
}

<div>

@using (Html.BeginForm("RegistrarRol","Rol")) 
{
    @Html.AntiForgeryToken()     
    <fieldset> <legend>Nuevo Rol</legend>
        @Html.ValidationSummary(true)
        <div >
            Identificador:
            <div >
                @Html.EditorFor(model => model.IDROL)
                @Html.ValidationMessageFor(model => model.IDROL)
            </div>
        </div>
        <div >
            Nombre:
            <div >
                @Html.EditorFor(model => model.NOMROL)
                @Html.ValidationMessageFor(model => model.NOMROL)
            </div>
        </div>
        <div >
            Descripcion:
            <div >
                @Html.EditorFor(model => model.DESCROL)
                @Html.ValidationMessageFor(model => model.DESCROL)
            </div>
        </div>
        <div >
            <div >
                <input type="submit" value="Guardar" />
            </div>
            <div>
                @Html.ActionLink("Cancelar", "Index")
            </div>
        </div>
    </fieldset>
   
}
     </div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
