@using System.EnterpriseServices
@using System.Web.Mvc.Html
@model SIFIET.GestionUsuarios.Datos.Modelo.ROL
@{
    ViewBag.Title = "Nuevo Rol";
}
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div>
        @ViewBag.Mensaje
    </div>
}
<div>

@using (Html.BeginForm("AgregarRol","Rol")) 
{
    @Html.AntiForgeryToken()     
    <fieldset> <legend>Nuevo Rol</legend>
        @Html.ValidationSummary(true)
        <div >
            Identificador:
            <div >
                @Html.EditorFor(model => model.IDROL)
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorIdRol))
            {
                <div>
                    @ViewBag.ErrorIdRol
                </div>
            }
        </div>
        <div >
            Nombre:
            <div >
                @Html.EditorFor(model => model.NOMROL)
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorNombreRol))
            {
                <div>
                    @ViewBag.ErrorNombreRol
                </div>
            }
        </div>
        <div >
            Descripcion:
            <div >
                @Html.TextAreaFor(model => model.DESCROL)
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorDescripcionRol))
            {
                <div>
                    @ViewBag.ErrorDescripcionRol
                </div>
            }

        </div>
        <div>
            Estado:
            <div>
                @Html.DropDownListFor(model => model.ESTADOROL, new[]
                {
                    new SelectListItem{Value = "Activo", Text = "Activo",Selected = true},
                    new SelectListItem{Value = "Inactivo", Text = "Inactivo"}
                })
            </div>
        </div>
        <div>
            <h3>Permisos</h3>
            <div>
                <p>Plan de Estudios:</p>
                <select name="Plan de Estudios">
                    <option value="Visualizar">Visualizar</option>
                    <option value="Gestionar">Gestionar</option>
                </select>
                <p>Usuarios</p>
                <select name="Usuarios">
                    <option value="Visualizar">Visualizar</option>
                    <option value="Gestionar">Gestionar</option>
                </select>
                <p>Programas</p>
                <select name="Programas">
                    <option value="Visualizar">Visualizar</option>
                    <option value="Gestionar">Gestionar</option>
                </select>
                <p>Infraestructura</p>
                <select name="Infraestructura">
                    <option value="Visualizar">Visualizar</option>
                    <option value="Gestionar">Gestionar</option>
                </select>
                <p>Asignaturas</p>
                <select name="Asignaturas">
                    <option value="Visualizar">Visualizar</option>
                    <option value="Gestionar">Gestionar</option>
                </select>
                <p>Salones</p>
                <select name="Salones">
                    <option value="Visualizar">Visualizar</option>
                    <option value="Gestionar">Gestionar</option>
                </select>
            </div>
        </div>
    </fieldset>
    <div >
            <div >
                <input type="submit" value="Guardar" />
            </div>
            <div>
                @Html.ActionLink("Volver a La Lista", "Index")
            </div>
        </div>
   
}
     </div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
