@model IEnumerable<SIFIET.GestionUsuarios.Datos.Modelo.ROL>

@{
    
    ViewBag.Title = "Roles";
    var grid = new WebGrid(Model);
}
                      <h2>Roles</h2>
<div>
    @using (Html.BeginForm("Index", "Rol"))
    {
        <div>
            <label>Buscar Por:</label><select name="criterio">
                                          <option value="nombre">Nombre</option>
                                          <option value="estado">Estado</option>
                                      </select>
            <input name="valorbusqueda" type="text" value="" />
            <input type="submit" value="Buscar" />

        </div>
    }
    <p>
        @ViewBag.Mensaje
    </p>

    @grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("NOMROL",header:"Nombre"),
            grid.Column("DESCROL",header:"Descipcion"),
            grid.Column("ESTADOROL",header:"Estado"),
            grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "ModificarRol", new { idRol = item.IDROL }) |
                @Html.ActionLink("Detalles", "VisualizarRol", new { idRol = item.IDROL }) |
                @Html.ActionLink("Eliminar", "EliminarRol", new { idRol = item.IDROL })
                </text>
            )
        })

    <p>
        @Html.ActionLink("Agregar", "AgregarRol")
    </p>
</div>