@model SIFIET.GestionUsuarios.Datos.Modelo.ROL

@{
    ViewBag.Title = "Visualizar Rol";
}

<h2>Detalles</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Identificador:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDROL)
        </dd>

        <dt>
            Nobre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMROL)
        </dd>

        <dt>
            Descripcion:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCROL)
        </dd>
        <dt>
            Estado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOROL)
        </dd>
        <h3>Permisos</h3>
        @foreach (var item in Model.PERMISOS)
        {
            <dd>
                <h4>@Html.DisplayFor(modelItem => item.NOMPERMISO):</h4>
                @if (item.GESTIONAR == 1)
                {
                    <p>Gestionar</p>
                }
                else
                {
                    <p>Visualizar</p>
                }
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ModificarRol", new { idRol = Model.IDROL }) |
    @Html.ActionLink("Volver", "Index")
</p>
